body{
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    text-align: center;
}

h1{
    font-size: 1.7rem;
}

.box{
    background-color: #182230;
    border-radius: 25px;
    margin: 7% auto;
    padding: 30px;
    text-align: start;
    width: 350px;
}

/* STARTING SECTION */
h6{
    color: hsl(216, 12%, 54%);
    font-size: 0.9rem;
    line-height: 25px;
    margin: 0 0 25px;
}

img{
    background-color: #2c3640;
    padding: 10px;
    border-radius: 100px;
}

#start div{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #2c3640;
    border: none;
    border-radius: 100px;    
    color: hsl(216, 12%, 54%);
    font-weight: bold;
    font-stretch: ultra-expanded;
    padding: 16px 20px;
}

.submit{
    width: 100%;
}

.number:hover{
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.number-select{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);
    display: block;
}

/* END SECTION */

#end{
    text-align: center;
}

#end h3{
    background-color: #272E36;
    border-radius: 100px;
    color:hsl(25, 97%, 53%);
    font-weight: 100;
    margin: 30px auto;
    padding: 10px 20px;
    width: max-content;
}

#end h6{
    font-size: 1rem;
    margin: 20px;
}